@font-face{
  font-family:charter;
  src:url("../fonts/charter-regular.otf");
  font-style:normal;
  font-weight:400;
}

@font-face{
  font-family:charter;
  src:url("../fonts/charter-italic.otf");
  font-style:italic;
  font-weight:400;
}

@font-face{
  font-family:charter;
  src:url("../fonts/charter-bold.otf");
  font-style:normal;
  font-weight:bold;
}

@font-face{
  font-family:charter;
  src:url("../fonts/charter-bold-italic.otf");
  font-style:italic;
  font-weight:bold;
}

:root{
  font-size: 18px;
  --gray30: #212121;
  --gray20:#212429;
  --gray10: #616161;
}

html{
  font-size:16px
}
body{
  color: var(--gray30);
  font-family:'Roboto', sans-serif;

}

a{
  color:var(--gray30);
}

h1{
  font-size:60px;
}

header {
  font-size:14px;
  color:var(--gray10);

}
header a{
color:var(--gray10);
}

header a:hover{
  color:var(--gray30);
}

nav details summary {
  color: #212121;
  font-weight: bold;
}


h2{
  font-size:32px
  }

h3{
  font-size:24px
  }

pre{
  background: #FEC62E;
}

.hero{
  background:url("../images/pattern.png");
  height: 350px;
}
